<%- include('inc/header') %>

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <div class="content border p-5 shadow">
            <form action="/register/verify" method="POST">
                <h3 class="mb-4 " style="border-bottom: 2px solid;">Enter Your OTP</h3>
                <input type="text" id="otp" name="otp" class="form-control form-control-lg" placeholder="Enter OTP"/>
                <button type="submit" class="btn btn-outline-primary mt-4">Register</button>
            </form>
        </div>
    </div>
</div>

<%- include('inc/footer') %>
